.vscode/settings.json
__pycache__/operations.cpython-39.pyc
__pycache__/globals.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/utility_functions.cpython-39.pycc
__pycache__/globals.cpython-38.pyc
__pycache__/main.cpython-38.pyc
__pycache__/utility_functions.cpython-38.pyc
__pycache__/utility_functions.cpython-39.pyc
Simulator/__pycache__/globals.cpython-38.pyc
Simulator/__pycache__/operations.cpython-38.pyc
Simulator/__pycache__/utility_functions.cpython-38.pyc
Project_Phase_2/__pycache__/sim_glob.cpython-38.pyc
Project_Phase_2/__pycache__/op.cpython-38.pyc
Project_Phase_2/__pycache__/stages.cpython-38.pyc
Project_Phase_2/__pycache__/utility_func.cpython-38.pyc
Project_Phase_2/__pycache__/op.cpython-39.pyc
Project_Phase_2/__pycache__/sim_glob.cpython-39.pyc
Project_Phase_2/__pycache__/stages.cpython-39.pyc
Project_Phase_2/__pycache__/utility_func.cpython-39.pyc
Project_Phase_2/__pycache__/utility_func.cpython-39.pyc
Project_Phase_2/__pycache__/op.cpython-39.pyc
Project_Phase_2/__pycache__/utility_func.cpython-39.pyc
Project_Phase_2/__pycache__/stages.cpython-39.pyc
Project_Phase_2/__pycache__/sim_glob.cpython-39.pyc
Project_Phase_2/__pycache__/op.cpython-39.pyc
Project_Phase_2/__pycache__/stages.cpython-39.pyc
Project_Phase_3/__pycache__/sim_glob.cpython-39.pyc
